/*买单页面*/
.cardBox .cardCont .cardStatus div.topRound{
	background:#f1f1f1
}
.cardBox .cardCont .cardStatus .roundBorder-Right ul li{
	background:#f1f1f1
}
.pay_money{
    width: 100%;
    background: #fff;

    position: fixed;
    top:1rem;
}
.payment{
    position: inherit;
}
.pay_money  p{
  width: 100%;
   padding:.3rem 0;
   border-bottom:1px solid #efefef;
}
.pay_money p label{
    padding:0 .3rem;
    border-right: 1px solid #ccc;
    font-size:.32rem;
    color: #2ab9c8;
}
.pay_money  p input{
   color: #ccc;
    padding-left: .3rem;
    border: none;
}
.pay_money> h3{
    color:#2ab9c8;
    text-align: center;
    line-height:2.6;
    font-size: .28rem;
    width:98%;
    margin: 0 auto;
    border-bottom: 1px solid #efefef;
}
.pay_money  .payM_subtraction{
  display: none;
}
.pay_money> h3 .icon{
    font-size:.4rem;
}
.pay_money >ul{
    width:95%;
    margin:0 auto;
}

.pay_money >ul li {
    font-size:.3rem;
    padding:  0 1%;
    width:98%;
    /*margin-left:1%;*/
    display: inline-block;
    line-height:3;
    border-bottom: 1px solid #e0e0e0;
}
.pay_money .payment_h3{
    width:auto;
    font-size:.36rem;
    text-align: left;
     padding-left:.2rem;
    /*margin-left: 0;*/
}
.pay_money >ul li span{
    float: left;
    color: #8d8d8d;
}
.pay_money >ul li b{
    float: right;
    color: #ff6246;
}
.pay_money >ul li:last-child{
    padding-bottom:.2rem;
    font-size:.36rem;
    border-bottom: 0;
}
.pay_money >ul li:last-child span{
    color: #565656;
    font-weight: bold;
}
.pay_money >ul li:last-child b{
    font-size:.36rem;
    font-weight: bold;
}

/*.pay_money>input{*/
    /*width:3rem;*/
    /*border-radius:.1rem;*/
    /*height:70%;*/
    /*background:#ccc;*/
    /*border: 0;*/
    /*text-align: center;*/
/*}*/
.pay_h3{
    padding-left: .5rem;
    line-height:3;
    color: #a2a2a2;
}
/*.no_paycard{*/
   /*padding-bottom: 0;*/
    /*font-size: .4rem;*/
    /*color: #8f8f8f;*/
/*}*/
/*.no_paycard span{*/
    /*color: #f7b53d;*/
/*}*/
/*底部支付*/
.pay_footer{
    position: fixed;
    bottom: 0;
    background:#fff;
    padding:10px 0;
    font-size:.36rem;
    color:#adadad;
    font-weight: bold;
    border-top: 1px solid #ddd;
    height: 1rem;
    width:100%;
    z-index: 3;
    display: block;
    background-size: contain;
}
.pay_footer> p{
    display: block;

    padding-left:10px;
    float: left;
    width:70%;
    line-height:3;
}
@media (max-width:333px) {
    .pay_footer> p{
        width:60%;
    }
}
.pay_footer> p span{
    color:#2ab9c8;
}
.pay_footer> input{
    float: right;
    display: block;
    border-radius: 5px;
    color:#fff;
    line-height:3.5;
    width: 10%;
    border: 0;
    min-width: 1.5rem;
    background:#2ab9c8;
    margin-right: 10px;
    font-size: .28rem;
}
.paymentBtn > input{
    float: inherit;
    width: 90%;
    margin:  0 auto;
}
/*选择商家弹出框*/
.select_seller{
    width:80%;
    position: fixed;
    z-index:9999;
    max-width:8rem;
    min-width:5rem;
    border: 1px solid #f2f2f2;
    background: #fff;
    border-radius: 5px;
}
.select_seller  .selctSeller_h3{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 16px;
    background-color: #2ad7e6;
    border-radius: 5px 5px 0 0;

}
.select_seller .selctSeller_content{
    color: #ccc;
    font-size:.3rem;

}
.select_seller .selctSeller_content li{
    line-height: 2.5;
    text-align: center;
    border-top: 1px solid #dddddd;
    padding:0 .2rem;
	font-size:0.28rem;
    cursor: pointer;
}
.select_seller .selctSeller_content li:hover{
    color:#2ad7e6;
}
.select_seller .selctSeller_content li.active{
    color:#2ad7e6;
}
.select_seller .selctSeller_btn{

    padding:0 .2rem;
    border: 1px solid #d1d1d1;
    border-right: 0;
    border-left: 0;
}
.select_seller .selctSeller_btn input{
    display: block;
    width: 100%;
    text-align: center;
    background: #2ad7e6;
    margin: .2rem 0;
    border-radius: 3px;
    border: 0;
    line-height:2.5;
    color: #fff;
    font-size: .28rem;
}
.select_seller .selctSeller_text{
    font-size: .24rem;
    color: #ccc;
    padding:.2rem .2rem;
    line-height: 1.6;
}

/*end*/



.payment_center{
    display: inline-block;
    background:#fff;

    width: 100%;
    /*margin:3.5rem 0;*/

    /*margin-bottom: 2.5rem;*/
}
.payment_center h3{
    font-size:.34rem;
    color:#2ab9c8;
    border-top: 0.02rem solid rgba(215, 222, 229, 0.59);
    padding:.4rem 2.2%;
    width: auto;
}

.payment_center .payment_ul{
    width:100%;
    border-top: 0.02rem solid rgba(215, 222, 229, 0.59);
    border-bottom: 0.02rem solid rgba(215, 222, 229, 0.59);
}
.payment_ul li{
    position: relative;
    width:98%;
    margin: 0 auto;
    padding:2% 0;
    border-bottom:0.02rem solid rgba(215, 222, 229, 0.59);
    display: inline-block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;

}
.payment_ul li:last-child{
    border-bottom: 0;
}
.payment_ul li> span{
    font-size:.28rem;
    color:#adadad;

    display: block;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:.8;
    line-height:50px;
}
.payment_ul li >b{
    display: block;
    width:1rem;
    height:1rem;
    font-size:1rem;
    /*padding:.5rem;*/

    margin-right:2%;
}
.payment_ul li >b.Alipay_icon{
    color: #0f9fe7;
}

.payment_ul li >b.Wechat_icon{
    color: #33cc66;
}
.payment_ul li .icon{

    font-size:.7rem;
    color:#dedede;
    cursor: pointer;
    position: absolute;
    right:0px;
    top:16px;
}
.payment_ul li.pay_active .icon{
    color:#2ab9c8;
}
.add_rest{
    height: auto;

    width: 100%;
    position: fixed;
    top: 1rem;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
    background-color: #fff;
}
.add_rest h3,.add_rest h4{
    font-weight:normal;
}
.add_rest h3{
    width:auto;
    font-size: .32rem;
    margin-top: .25rem;
    line-height:1.5;
    color:#848484;
    margin-left:10px;
}
.add_rest h3 span{
    color: #f58b02;
}
.add_rest h4{
    font-size: .3rem;
    /*margin-top: .25rem;*/
    line-height:3;
    color:#9E9E9E;
    text-indent: 10px;
}

.color_orange{
    color: #f58b02;
}
.color_blue{
    color: #2ab9c8;
}
.color_withe{
    color: #fff;
}






/*成功页面*/
.success_box{
    background:#2ab9c8;
    padding: .4rem 0 .2rem 0;
    margin-top: .8rem;
    text-align: center;
}
.success_box .color_orange {
    font-size: .36rem;
}
.pay_greenYuan{
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    margin-bottom: .3rem;
}
.pay_greenYuan i{
    font-size: 1.8rem;
    margin-left:-.1rem;
    color: #fff;
}
.success_box h3{
    margin: 0.1rem 0 0.2rem 0;
    color:#fff;
}
.success_recommend{
    background: #fff;
    border-bottom: 1px solid #dedede;

}
.success_recommend > h3{
    padding-left: .2rem;
    line-height:2.5;
    color:#2ab9c8;
    background: #f1f1f1;
    font-size: .34rem;
}
.success_recommend > h3 .icon{
    font-size: .4rem;
}
.success_recommend .WBH-to-details{
    border: 0;
}
.success_box h4{
    color: #bcf5fc;
    margin-bottom: .3rem;
}
.succ_bor{
    padding-bottom: .5rem;
}
.succ_bor h3{
    border-top: 1px solid #ccc;
    color: #b2b2b2;
    padding-left: .3rem;
    line-height: 1rem;
}
.succ_bor .moveCard a.WBH-to-details.sign{
    background: #fff;
}
.succ_bor .moveCard  {
    border: 0px;
    border-bottom: 1px solid #ccc;
}
.mar_top1{
    margin-top: .3rem;
}
.succ_bor .WBH-logo-msg p{
    font-weight: bold;
    font-size: .38rem;
    color: #313131;
}
.succ_bor  .moveCard a.WBH-to-details div.WBH-logo-location  span{
    display: block;
}
.succ_bor .moveCard a.WBH-to-details.sign .WBH-logo-msg span,
.succ_bor  .moveCard a.WBH-to-details div.WBH-logo-location  span.first_sp{
    color: #adadad;
}
.succ_bor  .moveCard a.WBH-to-details div.WBH-logo-location  span.first_sp{padding-left:
.5rem;
}
.succ_bor .moveCard a.WBH-to-details div.WBH-logo-location  span.two_sp,
.succ_bor .moveCard a.WBH-to-details div.WBH-logo-location  span.two_sp i.icon{
    color: #f7b52c;
}
.first_payCenter>p{
    font-size: .28rem;
    color:#adadad;

    text-align: center;
    line-height:25px;
    margin:2% 0;
}


.first_payCenter>p span{
    color:#f7b53c;
}
.first_payCenter{
    padding-top:15%;
    margin-top: 1rem;
}

@media(max-width:400px){
    .first_payCenter{
        padding-top:0;
        margin-top: 1rem;
    }
}

.first_payCenter .draw{
    display: block;
    width:80%;
    margin: 0 auto;
    padding:3% 0;
    background:#f7b53c;
    font-size:.28rem;
    color:#fff;
    border: 0;
    border-radius: 3px;
    margin-bottom: 1.6rem;

}
.box_towD {
    width:100%;
    display: inline-block;
    text-align:center;
}
.box_towD .pay_guang{
    width:10%;
    margin: 0 auto;
    min-width: 2rem;
    line-height: 3;
    background:#fff;
    font-size:.28rem;
    color:#2ab9c8;
    border: 0;
    border-radius: 3px;
    margin-bottom: 0.3rem;
}

.box_towD .pay_guang:nth-child(2){
    margin-left: 3%;
    /*background: #F36506;*/
}






















