html,body{
	height: 100vh;
	background-color: #f1f1f1;
	box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
h1{
	@include font-dpr(15px);
}
div{
	height: px2rem(150px);
	border: 2px solid red;
}